/* Global Styles */

body {
    background-color:crimson;
}

img {
    max-width: 100%;
}

a {
    color: gold;
}

a:hover {
    color: green;
    text-decoration: none;
}

/* Mobile Styles */

header {
    background-color:lightseagreen;
    padding: 15px 15px;
    text-align: center;
}

nav {
    background-color: lightseagreen;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 15px 0px;
    border-top: 5px solid blue;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

nav ul a:hover {
    background-color:darkorange;
}

main {
    background-color: lightseagreen;
    padding: 15px 15px;
    margin: 10px;
}

footer {
    background-color: lightseagreen;
    text-align: center;
    padding: 15px 15px;
    margin: 10px;
}